

.row{
    display: flex;
    background-color: yellow;
    height: 200px;
}

.col{
    flex: 1;
    border-style: solid;
    border-color: black;
}

.col-2{
    flex: 2;
    border-style: solid;
    border-color: black;
}